[project]
	description = First attempt to get hands on for my future solutions :)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vkumarvs
[access "refs/for/refs/*"]
	read = group user/vkumarvs
	push = group user/vkumarvs
	label-Code-Review = -2..+2 group user/vkumarvs
	label-Verified = -1..+1 group user/vkumarvs
	rebase = group user/vkumarvs
	removeReviewer = group user/vkumarvs
	submit = group user/vkumarvs
[access "refs/heads/*"]
	read = group user/vkumarvs
	create = group user/vkumarvs
	push = +force group user/vkumarvs
	pushMerge = group user/vkumarvs
[access "refs/tags/*"]
	push = +force group user/vkumarvs
	pushTag = group user/vkumarvs
	pushSignedTag = group user/vkumarvs
